name: &name 'Trigger parent repository workflow'
on:
  push: {}
jobs:
  trigger:
    name: *name
    runs-on: 'ubuntu-24.04'
    steps:
      - uses: 'actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42' # v2.1.4
        id: 'app'
        with:
          app-id: '${{ vars.APP_ID }}'
          private-key: '${{ secrets.APP_PKEY }}'
          repositories: '${{ vars.TARGET_REPO }}'
          permission-actions: 'write'
      - uses: 'octokit/request-action@dad4362715b7fb2ddedf9772c8670824af564f0d' # v2.4.0
        env:
          GITHUB_TOKEN: '${{ steps.app.outputs.token }}'
        with:
          route: 'POST /repos/{owner}/{repo}/actions/workflows/{workflow}/dispatches'
          owner: '${{ github.event.repository.owner.name }}'
          repo: '${{ vars.TARGET_REPO }}'
          workflow: 'deploy.yml'
          ref: '${{ vars.TARGET_BRANCH }}'
          inputs: |
            source_repo: ${{ github.event.repository.name }}
